.container {
  margin-top: 50px
}

.stretch-card>.card {
  width: 100%;
  min-width: 100%
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #d2d2dc;
  border-radius: 0
}

.btn-info {
  color: #fff;
  background-color:  #B08968;;
  border-color: #B08968;
  
}

.btn {
  font-size: 0.875rem;
  line-height: 1;
  font-weight: 400;
  padding: .7rem 1.5rem;
  border-radius: 0.175rem
}

h6 {
  font-size: .9375rem
}