ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B08968;
    display:flex;
    justify-content: flex-end;
    
    
  }
  
  li {font-family:'Sriracha';
    float: left;
   
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover { text-decoration: none;
    color:white;
    background-color: #7F5539;}