@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
}

body{
    background-color: #B08968;
}

.wrapper{
    max-width:350px;
    width:100%;
    height:auto;
    background-color: #fff;
    padding:60px 45px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
}
.wrapper .title{
    margin-bottom: 20px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color:#B08968;
}

.wrapper .social_media{
display:flex;
justify-content: center;
margin-bottom:20px;
}

.wrapper .social_media .item{
    width:35px;
    height: 35px;
    border:2px solid #eeeeee;
    margin:0 5px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    cursor: pointer;
    color:#eeeeee;
    transition: all .5s ease;
}
.wrapper .social_media .item:hover{
    border-color:#B08968;
    color:#B08968;
}

.wrapper .form .input_field{
    position:relative;
    margin-bottom:10px;

}


.wrapper .form .input_field input{
    width:100%;
    padding:12px;
    padding-left:30px;
    border:none;
    background-color: #eeeeee;
}


.wrapper .form .btn button{
    width:70%;
    margin:20px auto 0 ;
    background-color:#B08968;
    padding:12px;
    text-align: center;
   /* border-radius: 25%; */
}


.wrapper .form .btn button{
    color:#fff;
}


::-webkit-input-placeholder{
 
    color:#1d2120;
}

.wrapper .form .input_field i{
    position: absolute;
    top:10px;
   left:10px;
   color:#1d2120;
   font-size: 14px;
}
